@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Annuaire de l'entreprise</h1>
    <p>Rechercher des services, des employés ou des sites.</p>
    <div id=" buttons">
        <button type="button" class="btn btn-outline-secondary ml-4 mr-4">Services</button>
        <button type="button" class="btn btn-outline-secondary ml-4 mr-4">Employés</button>
        <button type="button" class="btn btn-outline-secondary ml-4 mr-4">Sites</button>
    </div>
</div>


