<h1 class="text-center">Employés</h1>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Employé à afficher</li>
    <li class="list-group-item">Employé à afficher</li>
    <li class="list-group-item">Employé à afficher</li>
    <li class="list-group-item">Employé à afficher</li>
    <li class="list-group-item">Employé à afficher</li>
</ul>
<div class="d-inline-flex mt-4">
    <div id="Button" class="text-center"><button type="button" class="btn btn-outline-secondary ml-4 mr-4">Ajouter</button></div>
    <div id="Button" class="text-center"><button type="button" class="btn btn-outline-secondary ml-4 mr-4">Modifier</button></div>
    <div id="Button" class="text-center"><button type="button" class="btn btn-outline-secondary ml-4 mr-4">Supprimer</button></div>
</div>