<h1 class="text-center">Prénom Nom</h1>
<p>Téléphone fixe : 03 xx xx xx xx<p>
<p>Téléphone portable : 06 xx xx xx xx</p>
<p>e-mail : adressemail@gmail.com</p>
<p>Service : Communication</p>
<p>Site : Paris</p>