<div class="input-group rounded d-flex">
    <div class="flex-column">
        <h1 class="text-center">Rechercher un service</h1>
        <div class="d-inline-flex">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" />
            <div id="Button" class="text-center"><button type="button" class="btn btn-outline-secondary ml-4 mr-4" asp-controller="Site" asp-action="Result">Chercher</button></div>
        </div>
    </div>
</div>
