@model List<Service>
<div class="input-group rounded d-flex">
    <div class="flex-column">
        <h1 class="text-center">Rechercher un service</h1>
        <div class="d-inline-flex">
            <input type="search" id="searchbar" onkeyup="search()" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon" />
            <div id="Button" class="text-center"><button type="button" class="btn btn-outline-secondary ml-4 mr-4" asp-controller="Site" asp-action="Result">Chercher</button></div>

        </div>
    </div>
</div>
<div id="listeSites"></div>
<ul class="list-group list-group-flush my-5">

    @foreach (Service s in @Model)
    {
        <div class="site">

        <li id="@s.IdService" onclick="select('@s.IdService')" class="list-group-item">@s.NameService</li>
        </div>
    }

</ul>
<form id="form" class="container" action='@Url.Action("Delete", "Site")' , method="post">
</form>
<div id="butons">
    <a asp-controller="Service" asp-action="Add"><button type="button" class="btn btn-outline-dark">Ajouter</button></a>
    <button type="button" class="btn btn-outline-dark" onclick="sendData('/Service/Update','nameservice')">Modifier</button>
    <button type="button" class="btn btn-outline-dark" onclick="sendData('/Site/Delete','nameservice')">Supprimer</button>
</div>
<style>
    /*Css du dossier Site, page Index*/
    .site > li:hover {
        cursor: pointer;
        background-color: dimgray;
        color: white;
    }

    .site > li {
        background-color: transparent;
    }
</style>
